@font-face {
  font-family: 'FontAwesome';
  src: url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
    url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),
    url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),
    url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.w4c-icon-phone:before,
.w4c-icon-question,
.w4c-icon-show,
.w4c-icon-hide,
.w4c-frame-icon-close {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right:.6em;
}
.w4c-icon-phone:before {content: "\f095";}
.w4c-icon-question:before {content: "\f059";}
.w4c-icon-show:before {content: "\f0d8";}
.w4c-icon-hide:before {content: "\f0d7";}
.w4c-frame-icon-close:before {content: "\f057";}
.w4c-frame-icon-close {left:1px;position: relative;}

/* Notif */
.w4c-notif,.w4c-notif2{background:transparent;bottom:0px;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;position:fixed;right:20px;width:400px;z-index:2000; text-shadow: none;}
.w4c-notif .w4c-header,.w4c-notif2 .w4c-header{background:#FF8C00;border-radius:.33em .33em 0 0;color:#FFF;cursor:pointer;font-size:17px;height:34px;}
.w4c-notif .w4c-header .w4c-title{float:left;padding:.33em 0 0 1em;}
.w4c-notif .w4c-header .w4c-title span, .w4c-notif2 .w4c-header .w4c-title span{overflow: hidden;}
.w4c-notif .w4c-header .w4c-show-hide,.w4c-notif2 .w4c-header .w4c-show-hide{float:right;font-size:1.3em;padding:.2em 0 0;}
.w4c-notif .w4c-content,.w4c-notif2 .w4c-content{border:2px solid #FF8C00;border-top:none;height:165px;}
.w4c-notif .w4c-content .w4c-logo{background:url('../img/agent1.png') no-repeat;float:left;height:96px;margin:30px 30px 0 20px;width:91px;}
.w4c-notif .w4c-content .w4c-content-wrap{float:left;}
.w4c-notif .w4c-content .w4c-content-wrap .w4c-content-text {font-size:16px;padding:30px 0 0;width:230px;word-wrap:break-word;line-height: 19px;}
.w4c-notif .w4c-content .w4c-content-wrap .w4c-btn {margin-top:15px;max-width:220px; word-wrap:break-word;}

/* Notif2*/
.w4c-notif2 .w4c-header .w4c-logo {background:url('../img/w4c-notif-bg.jpg') no-repeat;height: 50px;width:50px;top: -43px;left:10px;box-shadow: 0px 0px 8px #222;border-radius: 5px;margin-right: 10px;position:absolute;}
.w4c-notif2 .w4c-header .w4c-title{float:left;padding:.33em 0 0 0.5em;margin-left: 55px}
.w4c-notif2 .w4c-content .w4c-content-wrap{width:100%;text-align:center;}
.w4c-notif2{background:transparent;bottom:0px;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;position:fixed;right:20px;width:350px;z-index:2000; text-shadow: none;height:169px;}
.w4c-notif2 .w4c-content{border:2px solid #FF8C00;border-top:none;height:133px;
background-image: -webkit-linear-gradient(top,#FFF,#DFDFDF);
background-image: -moz-linear-gradient(top,#FFF,#DFDFDF);
background-image: linear-gradient(top,#FFF,#DFDFDF);
background-image: -ms-linear-gradient(top,#FFF,#DFDFDF);
filter:progid:DXImageTransform.Microsoft.gradient(
startColorstr='#FFFFFF',endColorstr='#DFDFDF', 
GradientType=0);
}
.w4c-notif2 .w4c-content .w4c-content-wrap .w4c-content-text {font-size:12px;width:100%;word-wrap:break-word;line-height: 19px;height: 19px;font-weight: bold;padding: 0px;margin-top:0px}
.w4c-notif2 .w4c-content-img {margin-top:10px}
.w4c-notif2 .w4c-content-img-50 {width: 48%;float: left;text-align: center;margin-left: 6px;padding-top: 3px;cursor:pointer;}
.w4c-notif2 .w4c-content-img-50:hover{box-shadow: 1px 1px 5px rgba(0,0,0,0.5);border-radius:4px;}
.w4c-notif2 .w4c-content-img-50:last-child {margin:0 2px 0 0;}
.w4c-notif2 .w4c-content-img-50 span{margin-top: 2px;display: inline-block;font-size: 11px;margin-top: 2px;}
.w4c-notif2 .w4c-content-img img{background: none repeat scroll 0 0 rgba(0, 0, 0, 0);box-shadow:none;}
.w4c-notif2 a.w4c-btn{display: block;color:#000 !important;}
.w4c-notif2 a.w4c-btn span, .w4c-notif2 .w4c-content-text{display: block;color:#000 !important;}
.w4c-notif2 .w4c-content .w4c-content-wrap .w4c-btn {margin-top:0px;}
.w4c-notif2 .w4c-btn {
  background-color: transparent;
  border-color: transparent;
  color: #FFFFFF;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  box-shadow: none;
}

/* Button */
.w4c-btn {
  background-color:#5BB75B;
  border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color:#FFFFFF;
  border-radius:.3em;
  border-style:solid;
  border-width:1px;
  box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor:pointer;
  display:inline-block;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.4em;
  margin-bottom:0;
  padding:.45em .9em;
  text-align:center;
  text-decoration:none !important;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align:middle;
}
.w4c-btn-lg {font-size:15.5px; padding:.6em 1em;}
.w4c-btn-sm {font-size:12px;}
.w4c-btn-xs {font-size:12px; padding:.15em .5em;}
#w4c-call-overlay {
  background:rgb(0, 0, 0);
  background:rgba(0, 0, 0, 0.6);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}
#w4c-call-overlay .control-group{clear:both;margin-bottom: 10px}
#w4c-call-overlay .control-label{display: block;margin-bottom: 5px;font-size: 14px;font-weight: normal;float:left;}
#w4c-call-overlay .controls{float:right}
#w4c-call-overlay .controls input{
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 206px;
}
#w4c-call-overlay .controls textarea{
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
  height: auto;
  width: 206px;
  border-radius: 4px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: ;
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
}
#w4c-call-overlay .pull-right{float: right;}
#w4c-call-overlay .btn{
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top,#08c,#04c);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
  background-image: -webkit-linear-gradient(top,#08c,#04c);
  background-image: -o-linear-gradient(top,#08c,#04c);
  background-image: linear-gradient(to bottom,#08c,#04c);
  background-repeat: repeat-x;
  border-color: #04c #04c #002a80;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#w4c-call-overlay .btn:hover, #w4c-call-overlay .btn:focus, #w4c-call-overlay .btn:active {
  color: #ffffff;
  background-color: #0044cc !important;
}
#w4c-call-overlay .btn.btn-danger {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
  background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
  background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
  background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b',endColorstr='#ffbd362f',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  text-decoration: none;
}
#w4c-call-overlay .btn.btn-danger:hover, #w4c-call-overlay .btn.btn-danger:focus, #w4c-call-overlay .btn.btn-danger:active {
  color: #ffffff;
  background-color: #bd362f !important;
}
#w4c-call-overlay #emailCallback form {width:450px; margin:auto;}

#w4c-call-wrapper {
  left:50%;
  margin:-220px 0 0 -250px;
  /*margin:-220px 0 0 -300px;*/
  position:relative;
  top:50%;
  width:504px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px !important;
  font-weight: bold !important;
}
/*#w4c-call-wrapper{position:fixed;}*/
#w4c-call-wrapper p{
  font-size: 15px !important;
}

#w4c-call-close {
  background:#FFF;
  background: url('../img/close.png') no-repeat center;
  /*border:2px solid #FFF;*/
  border-radius:50%;
  bottom:-12px;
  cursor:pointer;
  float:right;
  font-size:20px;
  height:23px;
  position:relative;
  right:-10px;
  width:23px;
  text-align:center;
}
#w4c-call-close i {
  font-size:1em;
  color:#000;
  margin:0;
}
#w4c-call-iframe {
  background:#FFF;
  /*border:2px solid #000;*/
  -webkit-box-shadow: rgb(255, 255, 255) 0px 0px 20px;
  box-shadow: rgb(255, 255, 255) 0px 0px 20px;
  border-radius:2px;
  /*height:100%;*/
  width:500px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  display:block;
}
#w4c-call-overlay #no-mic-detected input{width:auto;}
#w4c-call-overlay #no-mic-detected input,
#w4c-call-overlay #no-mic-detected .btn
{
  margin-right: 10px;
}
#call-ok {
  min-height: 137px;
  border-bottom: 1px solid #999;
}
#call-ok #_apidaze-audio-flash-div0 {
  height: 137px !important;
  left: 55% !important;
  margin: auto !important;
  padding-top: 0px;
  position: absolute !important;
  /*top: 22px !important;*/
  /*top: 62px !important;
  */top: 0px !important;
  width: 214px !important;
}
#call-ok .container-fluid {
  /*background: #feffff; /* Old browsers */
  /*background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6+ */
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#ddf1f9), color-stop(100%,#a0d8ef)); /* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10+,Safari5.1+ */
  /*background: -o-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Opera 11.10+ */
  /*background: -ms-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* IE10+ */
  /*background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
  height:200px;
  margin-top:0;
  background-image: url('/img/call_bg.jpg');
}
#call-ok .iframe-wrapper {bottom:0;position:absolute;top:141px;width:100%; z-index:1000;overflow:hidden;}
#call-ok iframe {border:none;height:100%;width:100%;}
#call-ok #no-mic-detected {
  margin: 45px auto;
  width: 700px;
  font-weight: bold;
}
#call-ok #no-mic-detected .input-append{
  margin-top: 5px;
}
#call-ok #w4c-control-call{
  font-size: 16px;
  font-weight: bold;
}
#call-ok.webrtc #w4c-control-call{
  margin: 45px auto;
}
#call-ok.flash #w4c-control-call{
  width:600px;
  /*border: 1px solid black;*/
  border-bottom: none;
  margin: auto;
  margin-top: 10px;
}
#call-ok.flash #w4c-control-call div.message{
  width:50%;
  height: 110px;
  margin-top:61px;
}
#call-ok .row-fluid{position:relative;height:100%;}
#call-ok .w4c-copyright,
#w4c-call-overlay .w4c-copyright{font-size:12px;bottom: 0px;position: absolute;right: 0px;}
#w4c-call-overlay .w4c-copyright{bottom: 8px;right: 10px;font-weight: normal;}
#call-ok .w4c-copyright a,
#w4c-call-overlay .w4c-copyright a{color:#999;}
#call-ok #arrow {position:relative;top:-37px;}
#call-ok .container-fluid {
  height:140px;
  background-image:none;
  box-shadow: 0 8px 6px -6px #aaa;
}
#call-ok #no-mic-detected {
  margin: 25px auto;
}
#call-ok form{margin-bottom:10px;}
.flash#call-ok  #w4c-control-call div.message{margin-top:0px}

#w4c-call-overlay #no-mic-detected input{
  padding: 10px;
  border: 1px solid #eaeaea;
  line-height: 20px;
  margin: 0 0 30px;
  background-color: #f9f9f9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#w4c-call-overlay #no-mic-detected button{
  margin-top:2px;
}

@media (max-device-width:768px) and (orientation: landscape) {
  #w4c-call-wrapper{top:20%;}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
  .iphone #w4c-call-wrapper{
    /*position: fixed;
   */ top:8%;
    left:0px;
  }
}
.hide {display:none;}

@media (max-width:768px) {
  #w4c-call-wrapper{
    width: 95%;
    margin-left: 5px;
    margin-right: auto;
    left: 0px;
  }
  #w4c-call-wrapper .content{max-width:500px;width:100%;}
  #w4c-call-overlay .control-group .input-append{display:block; white-space: normal;}
  #w4c-call-overlay .control-group .input-append input{display:block;}
  #w4c-call-overlay #no-mic-detected input {width:90%;margin:auto;display:inline-block;}
  #w4c-call-overlay #emailCallback form {width:90%;}
  #call-ok #no-mic-detected{
    width:100%;
    margin-top: 10px;
  }
  .w4c-notif, .w4c-notif2{width: 100%; right:0px;}
  .w4c-notif .w4c-content .w4c-logo{width: 30%;margin-right: 0px;margin-left: 0px;}
  .w4c-notif .w4c-content .w4c-content-wrap{width:70%}
  body{padding-left:0px;}
}